<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.vti" android:versionCode="013" android:versionName="0.13">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
	    <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
		<activity android:name=".SplashScreen" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="VTI" android:host="twitter"></data>
			</intent-filter>
		</activity>
		<activity android:name=".VTIMain"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
		<activity android:name=".SocialFeed"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
		<activity android:name=".AboutUs"></activity>
		<activity android:name=".Help"></activity>
		<activity android:name=".RouteSubscription"></activity>
		<activity android:name=".Tracker"></activity>
		<activity android:name=".tracker.AllRoutes"></activity>
		<activity android:name=".tracker.AllStops"></activity>
		<activity android:name=".tracker.NearbyStops"></activity>
		<activity android:name=".tracker.RouteSelectDirection"></activity>
		<activity android:name=".tracker.Prediction"></activity>
		<receiver android:name=".AlarmReceiver" android:enabled="true">
		</receiver>
		<reciever android:name="com.vti.BatteryBroadcastReceiver">
			<intent-filter>
				<!-- <action android:name="android.intent.action.BOOT_COMPLETED" />  -->
				<action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
			</intent-filter>
		</reciever>
		<service android:name=".services.SocialServiceImpl" />
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BATTERY_STATS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-sdk android:minSdkVersion="8" />

</manifest> 